<Files "sshfail2kml.sqlite">
     Order allow,deny
     Deny from all
</Files>

<Files "sshfail2kml.json">
     Order allow,deny
     Deny from all
</Files>

<IfModule mod_expires.c>
 <Filesmatch "\.(|json|kml)$">
   ExpiresActive On
   ExpiresDefault "access plus 1 minute"
 </Filesmatch>
</IfModule>
